# Update this file with the appropriate DB credentials and save as "env"

USER=postgres
PASSWORD=foo
SERVER=bar.us-east-2.rds.amazonaws.com
PORT=5432
DBNAME=data

DB=postgres://$USER:$PASSWORD@$SERVER:$PORT/$DBNAME