[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
mypy = "*"
black = "*"
autoflake = "*"
isort = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"

[packages]
Flask = "*"
Flask-RESTful = "*"
Flask-SQLAlchemy = "*"
psycopg2 = "*"
gunicorn = "*"
itsdangerous = "*"
Jinja2 = "*"
peewee = "*"
Werkzeug = "*"
requests = "*"
csvkit = "*"
ddtrace = "*"
datadog = "*"
sentry-sdk = "*"
blinker = "*"

[requires]
python_version = "3.7"

[scripts]
autoflake = "autoflake --remove-unused-variables --remove-all-unused-imports --ignore-init-module-imports -i app.py"
isort = "isort app.py"
black = "black app.py"
mypy = "mypy app.py --strict-optional"
format = "bash -c 'pipenv run autoflake && pipenv run isort && pipenv run black'"
serve = "python app.py"

[pipenv]
allow_prereleases = true
