{% extends "base.html" %}
{% block intro %}{% endblock %}

{% block content %}

<div class="container my-5">
  <h3>
    What data does gaballot.org have?
  </h3>
  <p>
    gaballot.org is an independent website that uses public data released by the <a
    href="https://elections.sos.ga.gov/Elections/voterabsenteefile.do"
    target="_blank" rel="noopener noreferrer">State of Georgia</a>. We are not
    an election authority, and we do not maintain the official records. We
    simply provide a convenient way to search the records released by the
    State.
  </p>

  <h3>
    Why does it say my ballot can't be found?
  </h3>
  <p>
    gaballot.org provides a way to search the public data released by the <a
    href="https://elections.sos.ga.gov/Elections/voterabsenteefile.do"
    target="_blank" rel="noopener noreferrer">State of Georgia</a>. We update
    our database once per day, and we only have data on early voting ballots
    and mail-in ballots, <strong>not ballots cast on election day</strong>.
    The data we receive from the state can sometimes be incomplete.
  </p>
  <p>
    If you don't see you ballot listed here, and you voted early or by mail,
    you should <a href="https://www.voteamerica.com/local-election-offices/GA/">contact
    your local elections office</a>.
  </p>

  <h3>
    Can you tell me who I voted for?
  </h3>
  <p>No. gaballot.org provides a way to search the publicly data released
  by the <a href="https://elections.sos.ga.gov/Elections/voterabsenteefile.do"
  target="_blank" rel="noopener noreferrer">State of Georgia</a>. The data
  includes only information about who voted, not who they voted for. Who you
  voted for is secret, and is not released to anyone.</p>

  <h3>
    Why does my name show up twice? Why does my name show up when I didn't vote?
  </h3>
  <p>
    Remember that there may be other people in your city (or even several
    other people in your city) with the same name as you. The most reliable
    way to check your own voter status is using
    <a href="https://georgia.ballottrax.net/voter/" target="_blank" rel="noopener noreferrer">the
    tool provided by the state</a>.
  </p>

  <h3>
    If my ballot was received, does that mean it was counted?
  </h3>
  <p>
    gaballot.org only has the data released by the State of Georgia about
    which ballots were received. Sometimes there are flags if, for example,
    there was a missing signature or if the person canceled their mail-in
    ballot in order to vote in person. We will relay any such flags indicated
    in the data.
  </p>

  <h3>
    Who runs gaballot.org?
  </h3>
  <p>
    gaballot.org is run by VoteAmerica with data from the 
    <a href="https://elections.sos.ga.gov/Elections/voterabsenteefile.do"
    target="_blank" rel="noopener noreferrer">State of Georgia</a>.
    VoteAmerica is a 501(c)3 registered non-profit organization, and does not
    support or oppose any political candidate or party. VoteAmerica is an
    independent organization. We do not run elections, count ballots, or
    maintain official records.
  </p>

  <h3>
    I would like to contact gaballot.org or VoteAmerica
  </h3>
  <p>
    If you would like to inquire about the status of your ballot or have any
    questions about voting or about the election, <a
    href="https://www.voteamerica.com/local-election-offices/GA/">contact
    your local elections office</a>. VoteAmerica cannot provide any more
    information other than what is displayed on this website.
  </p>
  <p>
    For general inquiries about VoteAmerica, please visit <a href="https://help.voteamerica.com/" target="_blank" rel="noopener noreferrer">help.voteamerica.com</a> or email <a href="mailto:info@voteamerica.com">info@voteamerica.com</a>.
  </p>
  <p>
    For media inquiries, please email <a href="mailto:press@voteamerica.com">press@voteamerica.com</a>.
  </p>
  <p>
    If you are a Local Election Official who would like to talk to us, please email <a href="mailto:leo@voteamerica.com">leo@voteamerica.com</a>.
  </p>
</div>

{% endblock %}
