{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">No results</h4>
    <p>Sorry, there are no results for voter ID <strong>{{voter_id}}</strong>.</p>
    <p class="my-0">
      It can take a few days for results to show up here.
      If you mailed your ballot more than 7 days ago, or voted in person more than 3 business days ago,
      you may want to <a href="https://www.voteamerica.com/local-election-offices/GA/">contact your local elections office</a>.
    </p>
  </div>
  <p class="my-5"><a href="/">&#171; Back to search page</a></p>
</div>



{% endblock %}
