{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="alert alert-warning mt-5" role="alert">
    <h4 class="alert-heading">No results</h4>
    <p>Sorry, there are no results for <strong>{{first}} {{middle}} {{last}}</strong>{% if city or county %} in
      <strong>{{ city }}{% if city and county %}, {% endif %}{{ county }}</strong>{% endif %}. Please check for typos and try again.
      Remember not to include extra characters like "Sr" or middle initials.</p>
    <p>
      If you're sure you got it right, please reach out to them and find out
      about their voting plans.
      They can <a href="https://www.voteamerica.com/where-to-vote/" target="_blank" rel="noopener noreferrer">find their early voting location here.</a>
    </p>
    <p class="mb-0">
      It can take a few days for results to show up here.
      If they mailed their ballot more than 7 days ago, or voted in person more than 3 business days ago,
      they may want to <a href="https://www.voteamerica.com/local-election-offices/GA/" target="_blank" rel="noopener noreferrer">contact their Local
      Elections Office</a>.
    </p>
  </div>

  <div class="alert alert-info" role="alert">
    <p>
      All of this data comes from the <a href="https://elections.sos.ga.gov/Elections/voterabsenteefile.do" target="_blank" rel="noopener noreferrer"">publicly
      available files</a> published by the Georgia Secretary of State. If
      you want to track your own ballot status, use
      <a href="https://www.mvp.sos.ga.gov/MVP/mvp.do" target="_blank" rel="noopener noreferrer">Georgia's official
      site for this purpose</a>.
    </p>
    <p class="mb-0">
      <a href="/faq">Learn more about gaballot.org and our data.</a>
    </p>
  </div>

  <p class="my-5"><a href="/">&#171; Back to search page</a></p>
</div>

{% endblock %}
