{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="alert alert-success" role="alert">
    <p class="mb-0">
      Found {% if were_more_records %}more than 25{% else %}{{results|length}}{% endif %}
      match{{ results|length|pluralize('', 'es') }} for
      <strong>{{first}} {{middle}} {{last}}</strong>{% if city or county %} in
      <strong>{{ city }}{% if city and county %}, {% endif %}{{ county }}</strong>{% endif %}.
    </p>
  </div>
  <div class="card">
    <ul class="list-group list-group-flush">
      {% for record in results %}
        <li class="list-group-item">
          <div class="list-icon" role="presentation">
            <i class="material-icons checkbox">check_circle</i>
          </div>
          <div class="list-text">
            {{record.first}} {{ record.middle or '' }} {{record.last}}<br />
            {{ record.city }}, {{record.county}} COUNTY<br />
            {{ record.friendly_ballot_status(false) }}<br />
            {{ record.friendly_ballot_status(true) }}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

  {% if were_more_records %}
  <p>
    (There were more than 25 results, so only the first 25 are shown)
  </p>
  {% endif %}

  <div class="alert alert-warning bottom-warning" role="alert">
    <p class="my-0">
      Not on the list? It can take a few days for results to show up here.
      If you mailed your ballot more than 7 days ago, or voted in person more than 3 business days ago,
      you may want to <a href="{{leo_url}}">contact your Local Elections Office</a>.
    </p>
  </div>
  <p class="my-5"><a href="/">&#171; Back to search page</a></p>
</div>




{% endblock %}
